.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.event-carousel .embla__slide {
  flex: 0 0 22%;
  min-width: 0;

  padding-right: 20px;
}

.trust-carousel .embla__slide {
  flex: 0 0 22%;
  min-width: 0;

  padding: 20px;
}

.interview-carousel .embla__slide {
  flex: 0 0 30%;
  min-width: 0;

  padding: 20px;
}
