.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.event-carousel .embla__slide {
  flex: 0 0 22%;
  min-width: 0;

  padding-right: 20px;
}

.trust-carousel .embla__slide {
  flex: 0 0 22%;
  min-width: 0;

  padding: 20px;
}

.interview-carousel .embla__slide {
  flex: 0 0 22%;
  min-width: 0;

  padding: 20px;
}

@media screen and (max-width: 479px) {

  .event-carousel .embla__slide {
    flex: 0 0 80%;
    min-width: 0;

    padding-right: 12px;
  }

  .trust-carousel .embla__slide {
    flex: 0 0 63%;
    min-width: 0;

    padding: 5px;
  }
  
  .interview-carousel .embla__slide {
    flex: 0 0 88%;
    min-width: 0;

    padding: 10px;
  }

}
